/*
* === Google Fonts ===
*/
@import "https://fonts.googleapis.com/css?family=Bangers";
@import 'https://fonts.googleapis.com/css?family=Merriweather+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway';

/*
* === Hacky Fixes ===
*/
.headerBox {
  display: none;
  /* Hiding the deprecated newsletter and social media buttons */
}

/* Show the social media buttons again, but not the newsletter */
/* .headerBox ~ .headerBox {
  display:block;
} */
/* Hide the deprecated forum link in the social media buttons */
/* .headerBox > .headerTitle a:nth-of-type(n+3) {
  display:none;
} */

/*
* === Global Styles ===
*/

#insideContent * {
  font-family: 'Merriweather Sans', sans-serif
}

#bgInside {
  background-image: url(https://cdn.jsdelivr.net/gh/Corgi/corgi.github.io/mayhem/images/bg_inside.png);
}

/*
* - New Releases widget -
*/

.dmdNewReleasesWidgetPBPW a img {
  display: none;
}

.dmdNewReleasesWidget h2 {
  text-align: center;
  color: #000;
  font-size: 2em;
  padding-bottom: 10px;
}

.dmdNewReleasesWidgetWeekSelection {
  font-size: 1.2em;
  text-align: center;
}

.dmdNewReleasesWidgetPager a {
  font-size: 1.4em;
}

/*
* === Fixing the navbar lists ... what the fuck?! ===
*/

#navcontainer li a span,
#navcontainer li a span:hover,
#navcontainer li a span span,
#navcontainer li,
#navcontainer a {
  background-image: none;
  background: transparent;
}

#navcontainer li a span {
  visibility: hidden;
}

#navcontainer li a span span {
  visibility: visible;
}

#navcontainer * {
  font-size: 1.05em;
  font-family: 'Merriweather Sans', sans-serif;
  color: #fff;
  text-align: center;
}

/*
* === Global Content Styling ===
*/

section a img {
  display: block;
  margin: 1em auto;
  text-align: center;
}

.spaceme {
  width: 75%;
  margin: 4em auto;
}
